<div id="wrapper">
  <h3>List of Posts</h3>
  <div class="titles">
    <% @posts.each do |post|%>
      <div class="posts">
        <div class="title">
          <%=link_to post.tile, post_path(post)%>
        </div>
        <p>by "<%= post.user.first_name%>" <%=post.created_at.localtime.to_date == Date.today ? post.created_at.localtime.strftime("%H:%M") : post.created_at.localtime.strftime("%d %b. %Y")%></p>
      </div>
    <%end%>
    <%= will_paginate @posts %>
  </div>

  <div class="new-link">
    <%= link_to "New Post", new_post_path, class: 'btn btn-default btn-primary', id: "foo"  %>
  </div>
</div>
